* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: burlywood;

}

.container{
  margin:10px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.todo-input{
  margin-right: 10px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  outline: none;

  
  
}
.add-button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: cadetblue;
  padding: 6px;
}

p{
color: green;
margin-left: 5px;
}

.todo-list{
  display: flex;
  font-style: italic;
}
.delete-button{
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: red;
  cursor: pointer;
  outline: none;
}
li::marker{
  color: green;
}

h1{
  font-size: large;
  font-weight: bold;
}